In [1]:
# importing the necessary libraries

import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#Reading the Receipts dataset

brands_df = pd.read_json('brands.json.gz',lines=True,compression='gzip')

In [3]:
brands_df.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [4]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB

### In the brands dataset, we notice that the columns have value in the dictionary format. In order to clean the data the first step would be to transform the columns into a readable pandas dataframe to perform operations on.

In [5]:
brands_df['_id'] = brands_df['_id'].apply(lambda x: x['$oid'])

In [6]:
brands_df['cpg']

0       {'$id': {'$oid': '601ac114be37ce2ead437550'}, ...
1       {'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...
2       {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
3       {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
4       {'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...
                              ...
1162    {'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...
1163    {'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...
1164    {'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...
1165    {'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...
1166    {'$id': {'$oid': '6026d757be37ce6369301467'}, ...
Name: cpg, Length: 1167, dtype: object

### We see that `cpg` column has two key value pair where keys are additional column names and values are the respective key column values.

In [7]:
brands_df['cpg'][2]

{'$id': {'$oid': '601ac142be37ce2ead437559'}, '$ref': 'Cogs'}

In [8]:
brands_df['cpg'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1167 entries, 0 to 1166
Series name: cpg
Non-Null Count  Dtype
--------------  -----
1167 non-null   object
dtypes: object(1)
memory usage: 9.2+ KB

### Now, normalizing the dataset.

In [9]:
brands_cpg_ref = pd.json_normalize(brands_df['cpg'])
brands_cpg_ref = brands_cpg_ref.add_prefix('cpg.')

### Merging it back to the original dataset.

In [10]:
brands_df = pd.merge(brands_df, brands_cpg_ref, left_index=True, right_index=True, how='outer')

In [11]:
brands_df.drop('cpg',inplace=True,axis=1)

In [12]:
brands_df.head()

,_id,barcode,category,categoryCode,name,topBrand,brandCode,cpg.$ref,cpg.$id.$oid
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,0.0,NaN,Cogs,601ac114be37ce2ead437550
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,0.0,STARBUCKS,Cogs,5332f5fbe4b03c9a25efd0ba
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs,601ac142be37ce2ead437559
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs,601ac142be37ce2ead437559
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs,5332fa12e4b03c9a25efd1e7

In [13]:
brands_df[brands_df.duplicated()]

Empty DataFrame
Columns: [_id, barcode, category, categoryCode, name, topBrand, brandCode, cpg.$ref, cpg.$id.$oid]
Index: []

In [14]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   name          1167 non-null   object
 5   topBrand      555 non-null    float64
 6   brandCode     933 non-null    object
 7   cpg.$ref      1167 non-null   object
 8   cpg.$id.$oid  1167 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 82.2+ KB

In [15]:
brands_df['category'].value_counts()

Baking                         369
Beer Wine Spirits               90
Snacks                          75
Candy & Sweets                  71
Beverages                       63
Magazines                       44
Health & Wellness               44
Breakfast & Cereal              40
Grocery                         39
Dairy                           33
Condiments & Sauces             27
Frozen                          24
Personal Care                   20
Baby                            18
Canned Goods & Soups            12
Beauty                           9
Cleaning & Home Improvement      6
Deli                             6
Beauty & Personal Care           6
Household                        5
Bread & Bakery                   5
Dairy & Refrigerated             5
Outdoor                          1
Name: category, dtype: int64

In [16]:
brands_df['categoryCode'].value_counts()

BAKING                           359
CANDY_AND_SWEETS                  71
BEER_WINE_SPIRITS                 31
HEALTHY_AND_WELLNESS              14
GROCERY                           11
BABY                               7
CLEANING_AND_HOME_IMPROVEMENT      6
BREAD_AND_BAKERY                   5
DAIRY_AND_REFRIGERATED             5
PERSONAL_CARE                      4
BEVERAGES                          1
OUTDOOR                            1
MAGAZINES                          1
FROZEN                             1
Name: categoryCode, dtype: int64

In [17]:
brands_df.drop('categoryCode',axis = 1, inplace=True)

In [18]:
brands_df.head()

,_id,barcode,category,name,topBrand,brandCode,cpg.$ref,cpg.$id.$oid
0,601ac115be37ce2ead437551,511111019862,Baking,test brand @1612366101024,0.0,NaN,Cogs,601ac114be37ce2ead437550
1,601c5460be37ce2ead43755f,511111519928,Beverages,Starbucks,0.0,STARBUCKS,Cogs,5332f5fbe4b03c9a25efd0ba
2,601ac142be37ce2ead43755d,511111819905,Baking,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs,601ac142be37ce2ead437559
3,601ac142be37ce2ead43755a,511111519874,Baking,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs,601ac142be37ce2ead437559
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs,5332fa12e4b03c9a25efd1e7

In [19]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   name          1167 non-null   object
 4   topBrand      555 non-null    float64
 5   brandCode     933 non-null    object
 6   cpg.$ref      1167 non-null   object
 7   cpg.$id.$oid  1167 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB

In [20]:
brands_df.topBrand.value_counts()

0.0    524
1.0     31
Name: topBrand, dtype: int64

In [22]:
brands_df[brands_df['brandCode']=="CHESTER'S"]

,_id,barcode,category,name,topBrand,brandCode,cpg.$ref,cpg.$id.$oid
109,585a9645e4b03e62d1ce0e79,511111801757,Snacks,Chester's,1.0,CHESTER'S,Cogs,5332f5fbe4b03c9a25efd0ba

In [23]:
brands_df[brands_df['topBrand'].isna()].head(50)

,_id,barcode,category,name,topBrand,brandCode,cpg.$ref,cpg.$id.$oid
7,5cdad0f5166eb33eb7ce0faa,511111104810,Condiments & Sauces,J.L. Kraft,NaN,J.L. KRAFT,Cogs,559c2234e4b06aca36af13c6
9,5c408e8bcd244a1fdb47aee7,511111504788,Baking,test,NaN,TEST,Cogs,59ba6f1ce4b092b29c167346
10,5f4bf556be37ce0b4491554d,511111516354,Baking,test brand @1598813526777,NaN,TEST BRANDCODE @1598813526777,Cogs,5f4bf556be37ce0b44915549
11,57c08106e4b0718ff5fcb02c,511111102540,NaN,MorningStar,NaN,NaN,Cpgs,5332f5f2e4b03c9a25efd0aa
13,5d6413156d5f3b23d1bc790a,511111205012,Magazines,Entertainment Weekly,NaN,511111205012,Cogs,5d5d4fd16d5f3b23d1bc7905
17,5f358338be37ce443bf9d55a,511111515319,Baking,test brand @1597342520277,NaN,TEST BRANDCODE @1597342520277,Cogs,5f358338be37ce443bf9d557
20,5c4699f387ff3577e203ea29,511111305125,Baby,Chris Image Test,NaN,CHRISIMAGE,Cogs,55b62995e4b0d8e685c14213
21,5da6071ea60b87376833e34d,511111005650,Health & Wellness,Alka-Seltzer®,NaN,ALKA SELTZER,Cogs,5d9b4f591dda2c6225a284aa
23,5332f5fee4b03c9a25efd0bd,511111303947,NaN,Bottled Starbucks,NaN,NaN,Cpgs,53e10d6368abd3c7065097cc
24,5332fa7ce4b03c9a25efd22e,511111802914,NaN,Full Throttle,NaN,NaN,Cpgs,5332f5ebe4b03c9a25efd0a8
25,5e9f18bfbe37ce3e45b6a77f,511111914549,Baking,PopUp Brand A,NaN,NaN,Cogs,5e9f12f5be37ce3e45b6a77e
27,5d66d71fa3a018093ab34728,511111105329,Magazines,Elegant Homes Magazine,NaN,511111105329,Cogs,5d5d4fd16d5f3b23d1bc7905
28,5f493e72be37ce64d0ae36c6,511111316114,Baking,test brand @1598635634882,NaN,TEST BRANDCODE @1598635634882,Cogs,5f493e72be37ce64d0ae36c2
29,5f4936ddbe37ce52f8314fd9,511111315957,Baking,test brand @1598633693011,NaN,NaN,Cogs,5f4936dcbe37ce52f8314fd8
32,5dc03596a60b873d6b0666cd,511111506249,Breakfast & Cereal,Frosted Cheerios™,NaN,FROSTED CHEERIOS,Cogs,53e10d6368abd3c7065097cc
33,5f494c5f04db711dd8fe87e6,511111916161,Baking,test brand @1598639199674,NaN,TEST BRANDCODE @1598639199674,Cogs,5f494c5d04db711dd8fe87e2
34,5332f772e4b03c9a25efd125,511111103653,NaN,Gold Medal,NaN,NaN,Cpgs,5332f5f3e4b03c9a25efd0ae
36,5daf33e71dda2c3e1416ae93,511111305910,Snacks,LÄRABAR™,NaN,LARABAR,Cogs,5332f5f3e4b03c9a25efd0ae
37,5f35a0babe37ce6853cff1ff,511111115366,Baking,test brand @1597350074333,NaN,TEST BRANDCODE @1597350074333,Cogs,5f35a0babe37ce6853cff1fd
43,5332f765e4b03c9a25efd11f,511111503699,NaN,Glaceau vitaminwater,NaN,NaN,Cpgs,5332f5ebe4b03c9a25efd0a8
44,5d66d94d6d5f3b6188d4f04b,511111505365,Magazines,Magnolia Journal Magazine,NaN,511111505365,Cogs,5d5d4fd16d5f3b23d1bc7905
45,5d66d2fd6d5f3b6188d4f045,511111405252,Magazines,American Patchwork & Quilting Magazine,NaN,QUILTING SPECIAL EDITION,Cogs,5d5d4fd16d5f3b23d1bc7905
46,5332f5f3e4b03c9a25efd0ad,511111104025,NaN,Gree Giant,NaN,NaN,Cpgs,5332f5f3e4b03c9a25efd0ae
48,5a5d1e76e4b0db471c2d0425,511111900337,Beer Wine Spirits,Herman Joseph's,NaN,HERMAN,Cogs,5332f709e4b03c9a25efd0f1
49,55b630d9e4b0d8e685c1421f,511111302629,NaN,Sundrop,NaN,NaN,Cogs,55b62995e4b0d8e685c14213
50,5d602d9d6d5f3b23d1bc7907,511111704935,Beverages,Kevita Sparkling Drinks,NaN,KEVITA,Cogs,5332f5fbe4b03c9a25efd0ba
52,5d2f68d96d5f3b107e208da4,511111004844,Personal Care,THE RIGHT TO SHOWER,NaN,THE RIGHT TO SHOWER,Cogs,5332f5f6e4b03c9a25efd0b4
54,5f16f536be37ce2b30061e27,511111115083,Baking,test brand @1595340086044,NaN,TEST BRANDCODE @1595340086044,Cogs,5f16f535be37ce2b30061e24
55,5332f6ede4b03c9a25efd0e5,511111603870,NaN,Blue Bunny,NaN,NaN,Cpgs,5332f6ede4b03c9a25efd0e6
56,5332fa05e4b03c9a25efd1d6,511111103141,NaN,Krave,NaN,NaN,Cpgs,5332f5f2e4b03c9a25efd0aa
57,5f3d6f44be37ce4ddbb1bb3e,511111315513,Baking,test brand @1597861700968,NaN,TEST BRANDCODE @1597861700968,Cogs,5f3d6f44be37ce4ddbb1bb3a
59,5f3ff223be37ce1c81aa1e11,511111115649,Candy & Sweets,test brand @1598026275245,NaN,TEST BRANDCODE @1598026275245,Cogs,5332fa12e4b03c9a25efd1e7
61,55b630e1e4b0d8e685c14220,511111102618,NaN,A&W Rootbeer,NaN,NaN,Cogs,55b62995e4b0d8e685c14213
62,5f3ff222be37ce1c81aa1e0f,511111415626,Baking,test brand @1598026274668,NaN,TEST BRANDCODE @1598026274668,Cogs,5f3ff222be37ce1c81aa1e0c
67,5f3e9195be37ce5a0e01b960,511111615583,Baking,test brand @1597936021514,NaN,NaN,Cogs,5f3e9195be37ce5a0e01b95f
72,5daf5e94a60b87376833e362,511111706045,Breakfast & Cereal,Cookie Crisp™,NaN,COOKIE CRISP,Cogs,5332f5f3e4b03c9a25efd0ae
74,5332f743e4b03c9a25efd109,511111903789,Snacks,Keebler,NaN,NaN,Cpgs,5332f5f2e4b03c9a25efd0aa
77,5332fa7ee4b03c9a25efd230,511111702894,NaN,Powerade,NaN,NaN,Cpgs,5332f5ebe4b03c9a25efd0a8
79,5f493682be37ce52f8314fce,511111115922,Baking,test brand @1598633602279,NaN,TEST BRANDCODE @1598633602279,Cogs,5f493682be37ce52f8314fcb
80,57ace91ae4b057c992a316ac,511111602552,NaN,Pizza Pizza Pizza,NaN,NaN,Cpgs,57ace90fe4b057c992a316ab
81,5a5d2431e4b06ba572cf24a1,511111200246,Beer Wine Spirits,Revolver,NaN,REVOLVER,Cogs,5332f709e4b03c9a25efd0f1
83,5332f5f2e4b03c9a25efd0ab,511111604037,NaN,Our Family,NaN,NaN,Cpgs,5332f5f3e4b03c9a25efd0ac
84,5db9f9cca60b87376833e36b,511111806226,Snacks,Fruit Roll-Ups™,NaN,BETTY CROCKER FRUIT ROLL UPS,Cogs,5332f5f3e4b03c9a25efd0ae
91,5f358338be37ce443bf9d55b,511111715320,Baking,test brand @1597342520305,NaN,TEST BRANDCODE @1597342520305,Cogs,5f358338be37ce443bf9d557
92,592486bfe410d61fcea3d137,511111000723,Dairy,PROMISE,NaN,PROMISE,Cogs,53e10d6368abd3c7065097cc
93,5a4d2295e4b0d5c3fd86b679,511111200529,Snacks,OFF THE EATEN PATH,NaN,OFF THE EATEN PATH,Cogs,5332f5fbe4b03c9a25efd0ba
94,5f628216be37ce78e6e2efaf,511111116684,Candy & Sweets,test brand @1600291350125,NaN,TEST BRANDCODE @1600291350125,Cogs,5332fa12e4b03c9a25efd1e7
95,5332f9fce4b03c9a25efd1cd,511111003199,NaN,Honey Smacks,NaN,NaN,Cpgs,5332f5f2e4b03c9a25efd0aa
96,5f9770bfbe37ce03d08a2d85,511111117070,Baking,test brand @1603760319758,NaN,TEST BRANDCODE @1603760319758,Cogs,5f9770bfbe37ce03d08a2d83
98,5f513e9ebe37ce21f1287c00,511111816492,Baking,test brand @1599159966676,NaN,NaN,Cogs,5f513e9ebe37ce21f1287bff

In [24]:
brands_df['name'].value_counts()

Huggies                      2
V8 Hydrate                   2
Pull-Ups                     2
Dippin Dots® Cereal          2
Diabetic Living Magazine     2
                            ..
Claritin® KIDS               1
Athenos                      1
test brand @1599159969028    1
test brand @1597350074404    1
test brand @1613158231643    1
Name: name, Length: 1156, dtype: int64

In [25]:
brands_df.to_csv('brands_final.csv')