In [1]:
# importing the necessary libraries
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#Reading the Receipts dataset

users = pd.read_json('users.json.gz',lines=True,compression='gzip')

In [3]:
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [4]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

### In the users dataset, we notice that the columns have value in the dictionary format. In order to clean the data the first step would be to transform the columns into a readable pandas dataframe to perform operations on.

In [5]:
users['_id'] = users['_id'].apply(lambda x: x['$oid'])

In [6]:
users.rename(columns = {'_id' : 'user_id'}, inplace = True)

In [7]:
users['createdDate'][0]['$date']

1609687444800

In [8]:
users['createdDate'] = users['createdDate'].apply(lambda x: x['$date'])

In [9]:
users['createdDate'] = users['createdDate'].apply(lambda x : pd.to_datetime(datetime.fromtimestamp(x//1000).strftime('%Y-%m-%d %H:%M:%S')))

In [10]:
users.head()

,user_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,{'$date': 1609687537858},consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,{'$date': 1609687537858},consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,{'$date': 1609687537858},consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,{'$date': 1609687530597},consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,{'$date': 1609687537858},consumer,Email,WI

### We cannot directly apply the date transformations on `lastLogin` before dealing with the missing values.

In [11]:
users[users['lastLogin'].isna()]

,user_id,active,createdDate,lastLogin,role,signUpSource,state
97,5ff616a68f142f11dd189163,True,2021-01-06 14:59:34,NaN,consumer,Email,KY
143,5ffe115404929101d0aaebb2,True,2021-01-12 16:15:00,NaN,consumer,Email,AL
148,5ffe115404929101d0aaebb2,True,2021-01-12 16:15:00,NaN,consumer,Email,AL
170,5e27526d0bdb6a138c32b556,True,2020-01-21 14:35:09,NaN,consumer,Google,WI
180,6002475cfb296c121a81b98d,True,2021-01-15 20:54:36,NaN,consumer,Email,WI
...,...,...,...,...,...,...,...
381,60186237c8b50e11d8454d5f,True,2021-02-01 15:19:03,NaN,consumer,Email,NaN
382,60186237c8b50e11d8454d5f,True,2021-02-01 15:19:03,NaN,consumer,Email,NaN
389,60217fa799409b11fcf899fe,True,2021-02-08 13:15:03,NaN,consumer,Email,WI
420,5fb0a078be5fc9775c1f3945,True,2020-11-14 22:28:56,NaN,consumer,Google,AL
429,5fb0a078be5fc9775c1f3945,True,2020-11-14 22:28:56,NaN,consumer,Google,AL

In [12]:
users['lastLogin'].fillna('None', inplace = True)

In [13]:
users['lastLogin'] = users['lastLogin'].apply(lambda x: 'None' if x == 'None' else int(x['$date']))

In [14]:
users.head()

,user_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1609687537858,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1609687537858,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1609687537858,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,1609687530597,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1609687537858,consumer,Email,WI

In [15]:
users['lastLogin'] = users['lastLogin'].apply(lambda x : 'None' if x == 'None' else pd.to_datetime(datetime.fromtimestamp(x//1000).strftime('%Y-%m-%d %H:%M:%S')))

In [16]:
users.head()

,user_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,2021-01-03 10:25:30,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI

In [17]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    datetime64[ns]
 3   lastLogin     495 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), datetime64[ns](1), object(5)
memory usage: 23.8+ KB

### Checking for duplicate rows

In [18]:
users[users.duplicated()]

,user_id,active,createdDate,lastLogin,role,signUpSource,state
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
5,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
8,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19 09:21:22,2021-03-05 11:52:23,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,2014-12-19 09:21:22,2021-03-05 11:52:23,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,2014-12-19 09:21:22,2021-03-05 11:52:23,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,2014-12-19 09:21:22,2021-03-05 11:52:23,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,2014-12-19 09:21:22,2021-03-05 11:52:23,fetch-staff,NaN,NaN

### Almost half of the data consists of duplicate row of values. Henceforth, dropping the duplicate rows.

In [19]:
users = users.drop_duplicates()

### Looking for ways to handle missing values.

In [20]:
users = users.copy()

In [21]:
users['signUpSource'].value_counts()

Email     204
Google      3
Name: signUpSource, dtype: int64

In [22]:
users['state'].value_counts()

WI    193
AL      5
IL      3
KY      1
CO      1
OH      1
SC      1
NH      1
Name: state, dtype: int64

In [23]:
users['role'].value_counts()

consumer       204
fetch-staff      8
Name: role, dtype: int64

In [24]:
users[['role','state']].value_counts()

role         state
consumer     WI       191
             AL         4
             IL         2
fetch-staff  WI         2
consumer     CO         1
             KY         1
             OH         1
             SC         1
fetch-staff  AL         1
             IL         1
             NH         1
dtype: int64

In [25]:
users[users['state'].isna()]['role']

344       consumer
375       consumer
422       consumer
432    fetch-staff
455    fetch-staff
475    fetch-staff
Name: role, dtype: object

In [26]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 0 to 475
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       212 non-null    object
 1   active        212 non-null    bool
 2   createdDate   212 non-null    datetime64[ns]
 3   lastLogin     212 non-null    object
 4   role          212 non-null    object
 5   signUpSource  207 non-null    object
 6   state         206 non-null    object
dtypes: bool(1), datetime64[ns](1), object(5)
memory usage: 11.8+ KB

In [27]:
users[users['lastLogin']=='None'].count()

user_id         40
active          40
createdDate     40
lastLogin       40
role            40
signUpSource    40
state           38
dtype: int64

In [28]:
users_lastlogin = users[users['lastLogin'] != 'None']

In [29]:
users_lastlogin['lastLogin'] = pd.to_datetime(users_lastlogin['lastLogin'])

/var/folders/dl/zfkvqms549vchyzbsj30cgbw0000gn/T/ipykernel_88610/2392924349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users_lastlogin['lastLogin'] = pd.to_datetime(users_lastlogin['lastLogin'])

In [30]:
users_lastlogin['lastLogin'] - users_lastlogin['createdDate']

0        0 days 00:01:33
3        0 days 00:00:00
6        0 days 00:00:00
7        0 days 00:00:00
9        0 days 00:00:00
             ...
435     85 days 00:31:13
455    119 days 00:44:53
456    119 days 08:52:25
462   1332 days 02:54:38
475   2268 days 02:31:01
Length: 172, dtype: timedelta64[ns]

In [31]:
users_lastlogin_nan = users[users['lastLogin'] == 'None']

In [32]:
users_lastlogin_nan['active'].value_counts()

True    40
Name: active, dtype: int64

In [33]:
users_lastlogin['active'].value_counts()

True     171
False      1
Name: active, dtype: int64

In [34]:
users.to_csv('users_final.csv')